/* encabezao*/
header {
    background-color: lightcoral;
    height: 200px;
}
#foto{
    float: left;
    margin: 15px;
    padding: 15px;
}
h1{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
}
h2{
    margin: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
#inicio{
    margin: 10px;
    padding: 10px;
    float: right;
    height: auto;
    width: auto;
    background-color:lightcoral;
    color: black;
    font-family: verdana;
    font-size: 15px;
    border: 0px;
}
nav{
    float: unset;
    background-color: black;
    font-family: verdana;
    font-size: 20px;
    height: 50px;  
}
input{
    background-color: black;
    color: white;
    height: 50px;
    width: 260px;
    float: left;
}
/*-------------------------------------------------------------*/
/*contenido*/
#contenido {
    width: 1093px;
    float: left;
    height: 600px;
    text-align: left;
}

h3{
    margin: 25px;
    font-family:cursive;
    font-size: 18px;  
}
p{
    margin: 25px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}


img{
    margin: 10px;
    float: right;
}
/*--------------------------------------------------------*/
/*derecha*/
aside {
    float: right;
    background-color:rgb(247, 159, 159);
    width: 240px;
    height: 600px;
}

a{
    color: black;
}

#caja1{
    clear: both;
    margin: 10px;
    padding: 10px;
    float:right;
    background-color:crimson;
    width: 200px;
    height: 230px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#caja2{
    clear: both;
    margin: 10px;
    padding: 10px;
    float:right;
    background-color:crimson;
    width: 200px;
    height: 230px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*----------------------------------------------------*/

/*pie*/
footer {
    clear: left;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
    background-color: lightcoral;
    width: 1333px; 
}

.img{
    float: center;
}
section{
    float: left;
    text-align:center;
}

#caja4{
    float: left;
    height: 30px;
    background-color: black;
    color: white;
    width: 1333px; 
    text-align: center;
}
/*--------------------------------------------------------------*/