header {
    background-color: indianred;
    height: 150px;
}

nav {
    background-color: yellow;
    width: 25%;
}

section {
    background-color: violet;
    width: 50%;
}

aside {
    background-color: skyblue;
    width: 25%;
}

footer {
    clear: left;
    background-color:coral;
    height: 200px;
}
aside, nav, section{
    float: right;
    height: 350px;
}