header {
    background-color: indianred;
    height: 150px;
}

nav {
    background-color: indigo;
    width: 25%;
}

section {
    background-color: indianred;
    width: 50%;
}

aside {
    background-color: indigo;
    width: 25%;
}

footer {
    clear: left;
    background-color: indianred;
    height: 100px;
}

nav,
aside,
section {
    float: left;
    height: 350px;
}